name: Regression Tests
on: [push]
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev bmake valgrind
    - name: Configure
      run: |
        cat /etc/os-release
        ./configure
    - name: Build and test
      run: bmake regress
    - name: Memory check
      run: bmake valgrind
  ubuntu_fsanitize:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev bmake valgrind
    - name: Configure
      run: |
        cat /etc/os-release
        echo "HAVE_SECCOMP_FILTER=0" > configure.local
        ./configure
        echo "CFLAGS += -fsanitize=undefined,address" >> Makefile.configure
        echo "LDFLAGS += -fsanitize=undefined,address" >> Makefile.configure
    - name: Build and test
      run: bmake regress
  ubuntu_libbsd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev bmake pkg-config libbsd-dev
    - name: Configure
      run: |
        cat /etc/os-release
        CFLAGS=$(pkg-config --cflags libbsd-overlay) ./configure LDFLAGS=$(pkg-config --libs libbsd-overlay)
    - name: Build and test
      run: bmake regress
  macos_standard:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: brew install bmake
    - name: Configure
      run: ./configure
    - name: Build and test
      run: bmake regress
  alpine_x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Alpine Linux environment for x86_64
      uses: jirutka/setup-alpine@v1
      with:
        branch: v3.15
        packages: >
          build-base
          curl-dev
          bmake
          zlib-dev
          linux-headers
        shell: alpine.sh {0}
    - name: Configure, build, and test on x86_64
      run: |
        cat /etc/alpine-release
        ./configure
        bmake regress
      shell: bash
  alpine_aarch64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup latest Alpine Linux for aarch64
      uses: jirutka/setup-alpine@v1.1.4
      with:
        arch: aarch64
        packages: >
          build-base
          curl-dev
          bmake
          zlib-dev
          linux-headers
        shell-name: alpine-aarch64.sh
    - name: Configure, build, and test on aarch64
      run: |
        cat /etc/alpine-release
        ./configure
        bmake regress
      shell: alpine-aarch64.sh {0}
  alpine_armv7:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup latest Alpine Linux for armv7
      uses: jirutka/setup-alpine@v1.1.4
      with:
        arch: armv7
        packages: >
          build-base
          curl-dev
          bmake
          zlib-dev
          linux-headers
        shell-name: alpine-armv7.sh
    - name: Configure, build, and test on armv7
      run: |
        cat /etc/alpine-release
        ./configure
        bmake regress
      shell: alpine-armv7.sh {0}
  alpine_ppc64le:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup latest Alpine Linux for ppc64le
      uses: jirutka/setup-alpine@v1.1.4
      with:
        arch: ppc64le
        packages: >
          build-base
          curl-dev
          bmake
          zlib-dev
          linux-headers
        shell-name: alpine-ppc64le.sh
    - name: Configure, build, and test on ppc64le
      run: |
        cat /etc/alpine-release
        ./configure
        bmake regress
      shell: alpine-ppc64le.sh {0}
  alpine_s390x:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup latest Alpine Linux for ppc64le
      uses: jirutka/setup-alpine@v1.1.4
      with:
        arch: s390x
        packages: >
          build-base
          curl-dev
          bmake
          zlib-dev
          linux-headers
        shell-name: alpine-s390x.sh
    - name: Configure, build, and test on s390x
      run: |
        cat /etc/alpine-release
        ./configure
        bmake regress
      shell: alpine-s390x.sh {0}
  freebsd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Test in FreeBSD
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: pkg install -y curl
        run: |
          freebsd-version
          ./configure
          make regress
